03-loadtest/templates/flow.asl.json
{
    "StartAt": "Initialize",
    "States": {
        "Initialize": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:::function:ml-serving-loadtesting-initialize",
            "Catch":[
                {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.Error",
                    "Next": "Fail"
                }
            ],
            "Next": "Load Testing Analysis"
        },
        "Load Testing Analysis": {
            "Type": "Map",
            "ItemsPath": "$.Jobs",
            "MaxConcurrency": 0,
            "Iterator": {
              "StartAt": "Rate Limit Handling",
              "States": {
                "Rate Limit Handling": {
                    "Type": "Wait",
                    "SecondsPath": "$.WaitLimit",
                    "Next": "Create Endpoint Config"
                },
                "Create Endpoint Config": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::sagemaker:createEndpointConfig",
                    "Parameters":{
                      "EndpointConfigName.$": "$.EndpointName",
                      "ProductionVariants": [ 
                        { 
                          "InitialInstanceCount.$": "$.InstanceCount",
                          "InstanceType.$": "$.InstanceType",
                          "ModelName.$": "$.ModelName",
                          "VariantName.$": "$.VariantName"
                        }
                      ]
                    },
                    "ResultPath": null,
                    "Next":"Create Endpoint"
                },
                "Create Endpoint":{
                    "Type":"Task",
                    "Resource":"arn:aws:states:::sagemaker:createEndpoint",
                    "Parameters":{
                      "EndpointConfigName.$": "$.EndpointName",
                      "EndpointName.$": "$.EndpointName"
                    },
                    "ResultPath": null,
                    "Next": "Wait for Endpoint"
                },
                "Wait for Endpoint": {
                    "Type": "Wait",
                    "Seconds": 20,
                    "Next": "Get endpoint status"
                },
                "Get endpoint status":{
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:::function:ml-serving-loadtesting-status",
                    "Next": "If Endpoint Ready"
                },
                "If Endpoint Ready": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.EndpointStatus",
                      "StringEquals": "InService",
                      "Next": "Create Scaling Policy"
                    }
                  ],
                  "Default": "Wait for Endpoint"
                },
                "Create Scaling Policy":{
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:::function:ml-serving-loadtesting-scaling",
                    "Next": "Execute Load Testing"
                },
                "Execute Load Testing": {
                    "Type": "Task",
                    "Resource":"arn:aws:states:::states:startExecution.sync",
                    "Parameters":{  
                        "StateMachineArn":"arn:aws:states:ap-southeast-1:908177370303:stateMachine:ml-serving-distributed-locust",
                        "Input.$": "$"
                    },
                    "ResultPath": null,
                    "Next":"Wait if Endpoint is Updating"
                },
                "Wait if Endpoint is Updating": {
                    "Type": "Wait",
                    "Seconds": 20,
                    "Next": "Get new endpoint status"
                },
                "Get new endpoint status":{
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:::function:ml-serving-loadtesting-status",
                    "Next": "If Endpoint InService"
                },
                "If Endpoint InService": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.EndpointStatus",
                      "StringEquals": "InService",
                      "Next": "Clean-up"
                    }
                  ],
                  "Default": "Wait if Endpoint is Updating"
                },
                "Clean-up": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:::function:ml-serving-loadtesting-cleanup",
                    "End": true
                }
              }
            },
            "Catch":[
                {
                    "ErrorEquals":["States.ALL"],
                    "ResultPath":"$.error",
                    "Next":"Fail"
                }
            ],
            "ResultPath": null,
            "Next": "Recommend"
        },
        "Recommend": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:::function:ml-serving-loadtesting-recommend",
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Fail": {
            "Type": "Fail"
        }
    }
  }