03-loadtest/templates/loadtest.asl.json
{
    "StartAt": "Load Testing Flow",
    "States": {
        "Load Testing Flow": {
            "Type": "Parallel",
            "Next": "Success",
            "Branches": [
              {
               "StartAt": "Start Master Node",
               "States": {
                "Start Master Node": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::ecs:runTask.sync",
                    "Parameters": {
                        "Cluster.$": "$.JobDetails.ClusterName",
                        "LaunchType": "FARGATE",
                        "TaskDefinition.$": "$.JobDetails.TaskDefinition",
                        "Overrides": {
                            "ContainerOverrides": [
                                {
                                    "Name.$": "$.JobDetails.MasterTaskName",
                                    "Command.$": "$.JobDetails.MasterCommand",
                                    "Environment": [
                                      {
                                        "Name": "EXECUTION_ID",
                                        "Value.$": "$.JobDetails.ExecutionId"
                                      },
                                      {
                                        "Name": "AWS_REGION",
                                        "Value.$": "$.JobDetails.AwsRegion"
                                      },
                                      {
                                        "Name": "ENDPOINT_NAME",
                                        "Value.$": "$.EndpointName"
                                      },
                                      {
                                        "Name": "TEST_DATASET_BUCKET",
                                        "Value.$": "$.TestDataset.Bucket"
                                      },
                                      {
                                        "Name": "TEST_DATASET_KEY",
                                        "Value.$": "$.TestDataset.Key"
                                      }
                                    ]
                                }
                            ]
                        },
                        "NetworkConfiguration": {
                            "AwsvpcConfiguration": {
                                "Subnets.$": "$.JobDetails.Subnets",
                                "SecurityGroups.$": "$.JobDetails.SecurityGroups",
                                "AssignPublicIp": "ENABLED"
                            }
                        }
                    },
                    "ResultPath": null,
                    "End": true
                  }
               }
             },
             {
               "StartAt": "Wait For Master Node",
               "States": {
                "Wait For Master Node": {
                    "Type": "Wait",
                    "Seconds": 30,
                    "Next": "Get Master status"
                  },
                 "Get Master status": {
                   "Type": "Task",
                   "Resource":
                     "arn:aws:lambda:::function:ml-serving-locust-master-status",
                   "Next": "If Master Ready"
                 },
                 "If Master Ready": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.MasterStatus",
                        "StringEquals": "RUNNING",
                        "Next": "Start Workers"
                      },
                      {
                        "Variable": "$.MasterStatus",
                        "StringEquals": "STOPPED",
                        "Next": "Master Failure"
                      }
                    ],
                    "Default": "Wait For Master Node"
                 },
                 "Master Failure": {
                   "Type": "Fail"
                 },
                  "Start Workers": {
                    "Type": "Map",
                    "ItemsPath": "$.Jobs",
                    "MaxConcurrency": 0,
                    "Iterator": {
                      "StartAt": "Start Worker",
                      "States": {
                        "Start Worker": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Parameters": {
                                "Cluster.$": "$.ClusterName",
                                "LaunchType": "FARGATE",
                                "TaskDefinition.$": "$.TaskDefinition",
                                "Overrides": {
                                    "ContainerOverrides": [
                                        {
                                            "Name.$": "$.WorkerTaskName",
                                            "Command.$": "$.WorkerCommand",
                                            "Environment": [
                                            {
                                                "Name": "EXECUTION_ID",
                                                "Value.$": "$.ExecutionId"
                                            },
                                            {
                                                "Name": "AWS_REGION",
                                                "Value.$": "$.AwsRegion"
                                            },
                                            {
                                                "Name": "ENDPOINT_NAME",
                                                "Value.$": "$.EndpointName"
                                            },
                                            {
                                                "Name": "TEST_DATASET_BUCKET",
                                                "Value.$": "$.TestDataset.Bucket"
                                            },
                                            {
                                                "Name": "TEST_DATASET_KEY",
                                                "Value.$": "$.TestDataset.Key"
                                            }
                                            ]
                                        }
                                    ]
                                },
                                "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                        "Subnets.$": "$.Subnets",
                                        "SecurityGroups.$": "$.SecurityGroups",
                                        "AssignPublicIp": "ENABLED"
                                    }
                                }
                            },
                            "ResultPath": null,
                            "End": true
                        }
                      }
                    },
                    "End": true
                  }
               }
             }
          ],
          "Catch":[
            {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.Error",
                "Next": "Fail"
            }
          ]
        },
        "Success": {
            "Type": "Succeed"
        },
        "Fail": {
            "Type": "Fail"
        }
    }
  }